.lightbox {
    visibility: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    white-space: nowrap;
    cursor: pointer;
    opacity: 0;
    -webkit-transition: opacity .6s ease-in-out;
    -moz-transition: opacity .6s ease-in-out;
    transition: opacity .6s ease-in-out;
    background: rgba(0, 0, 0, .8)
}

.lightbox:before {
    content: '';
    display: inline-block;
    height: 100%;
    margin-right: -.25em
}

.lightbox.show {
    visibility: visible;
    z-index: 9999;
    opacity: 1
}

.lightbox .lightbox-content {
    margin-left: 10px;
    margin-right: 10px;
    max-height: 98%;
    padding: 10px 10px 0;
    color: black
    border-bottom: 10px solid transparent;
    position: relative;
    text-align: left;
    vertical-align: middle;
    display: inline-block;
    overflow: auto;
    cursor: auto;
    white-space: normal
}

.lightbox .lightbox-close-icon {
    position: absolute;
    z-index: 9999;
    top: 0;
    right: 0;
    line-height: 45px;
    width: 45px;
    font-size: 1.2rem;
    cursor: pointer;
    text-align: center;
    color: #fff
}

.lightbox .lightbox-inner {
    display: block;
    color: #fff;
    max-width: 370px
}

.lightbox {
    text-align: center
}

.lightbox:before {
    vertical-align: middle
}

.lightbox {
    display: block
}

.lightbox-input {
    color:#000;padding:5px 5px 5px 5px; border: 2px solid #55acee; border-radius: 4px; width: 70%; margin-bottom:10px;
}

