<section id="download" class="download bg-primary text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">{{ site.app_cta_title }}</h2>
                <p>{{ site.app_cta_subtext }}</p>
                <div class="badges lightbox_btn">
                    <a class="badge-link" href="#android"><img src="/img/google-play-badge.svg" alt=""></a>
                    <a class="badge-link" href="#"><img src="/img/app-store-badge.svg" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</section>
