<section id="why">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{{ site.features_title }}</h2>
                <hr class="primary">
                <br />
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-magic wow bounceIn text-primary"></i>
                    <h3>{{ site.features_feature_1_title }}</h3>
                    <p class="text-muted">{{ site.features_feature_1_subtext }}</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-ban wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>{{ site.features_feature_2_title }}</h3>
                    <p class="text-muted">{{ site.features_feature_2_subtext }}</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-cutlery wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>{{ site.features_feature_3_title }}</h3>
                    <p class="text-muted">{{ site.features_feature_3_subtext }}</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>{{ site.features_feature_4_title }}</h3>
                    <p class="text-muted">{{ site.features_feature_4_subtext }}</p>
                </div>
            </div>
        </div>
    </div>
</section>
