<footer>
    <div class="container">
        <p>&copy; 2017 <a rel="nofollow" target="blank" href="#">Low Carb LDN</a>
<!--</br>Website based on the <a rel="nofollow" target="blank" href="https://startbootstrap.com/template-overviews/new-age/">Start Bootstrap</a> New Age Theme</p>-->
<!--
        <ul class="list-inline">
            <li>
                <a href="#">Privacy</a>
            </li>
            <li>
                <a href="#">Terms</a>
            </li>
            <li>
                <a href="#">FAQ</a>
            </li>
        </ul>
-->
    </div>
</footer>
