<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">
  {% include nav.html %}
  {% include header.html %}
  {% include portfolio.html %}
<!--  {% comment %}
  {% include services.html %}
      {% endcomment %}  -->
  {% include feature.html %}
<!--  {% comment %}
  {% include call-to-action.html %}
      {% endcomment %}  -->
<!--  {% comment %}
  {% include quote.html %}
      {% endcomment %}  -->
  {% include aside.html %}
  {% include contact.html %}
  {% include footer.html %}
  {% include lightbox.html %}
  {% include scripts.html %}
</body>

</html>
